In [1]:
!pip install html5lib
!pip install lxml
!pip install plotly

Requirement already satisfied: html5lib in c:\users\bendh\appdata\local\programs\python\python39\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\bendh\appdata\local\programs\python\python39\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\bendh\appdata\local\programs\python\python39\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: lxml in c:\users\bendh\appdata\local\programs\python\python39\lib\site-packages (5.3.0)
Collecting plotly
  Downloading plotly-5.24.0-py3-none-any.whl.metadata (7.3 kB)
Collecting tenacity>=6.2.0 (from plotly)
  Downloading tenacity-9.0.0-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: packaging in c:\users\bendh\appdata\local\programs\python\python39\lib\site-packages (from plotly) (24.1)
Downloading plotly-5.24.0-py3-none-any.whl (19.0 MB)
   ---------------------------------------- 0.0/19.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/19.0 MB ? eta -:--:--
   - -------------------------------------- 0.5/19.0 MB 3.4 MB/s eta 0:00:06
   -- ------------------------------------- 1.0/19.0 MB 2.4 MB/s eta 0:00:08
   --- ------------------------------------ 1.6/19.0 MB 2.2 MB/s eta 0:00:08
   --- ------------------------------------ 1.8/19.0 MB 2.1 MB/s eta 0:00:09
   ---- ----------------------------------- 2.4/19.0 MB 2.1 MB/s eta 0:00:08
   ----- ---------------------------------- 2.6/19.0 MB 2.1 MB/s eta 0:00:08
   ------ --------------------------------- 3.1/19.0 MB 2.1 MB/s eta 0:00:08
   ------- -------------------------------- 3.7/19.0 MB 2.1 MB/s eta 0:00:08
   -------- ------------------------------- 4.2/19.0 MB 2.1 MB/s eta 0:00:07
   --------- ------------------------------ 4.5/19.0 MB 2.1 MB/s eta 0:00:07
   --------- ------------------------------ 4.7/19.0 MB 2.1 MB/s eta 0:00:07
   ----------- ---------------------------- 5.2/19.0 MB 2.0 MB/s eta 0:00:07
   ----------- ---------------------------- 5.5/19.0 MB 2.0 MB/s eta 0:00:07
   ------------ --------------------------- 5.8/19.0 MB 2.0 MB/s eta 0:00:07
   ------------- -------------------------- 6.3/19.0 MB 2.0 MB/s eta 0:00:07
   ------------- -------------------------- 6.6/19.0 MB 2.0 MB/s eta 0:00:07
   -------------- ------------------------- 7.1/19.0 MB 2.0 MB/s eta 0:00:07
   --------------- ------------------------ 7.3/19.0 MB 2.0 MB/s eta 0:00:06
   ---------------- ----------------------- 7.9/19.0 MB 2.0 MB/s eta 0:00:06
   ----------------- ---------------------- 8.4/19.0 MB 2.0 MB/s eta 0:00:06
   ------------------ --------------------- 8.7/19.0 MB 2.0 MB/s eta 0:00:06
   ------------------- -------------------- 9.2/19.0 MB 2.0 MB/s eta 0:00:05
   -------------------- ------------------- 9.7/19.0 MB 2.0 MB/s eta 0:00:05
   -------------------- ------------------- 10.0/19.0 MB 2.0 MB/s eta 0:00:05
   ---------------------- ----------------- 10.5/19.0 MB 2.0 MB/s eta 0:00:05
   ----------------------- ---------------- 11.0/19.0 MB 2.0 MB/s eta 0:00:05
   ----------------------- ---------------- 11.3/19.0 MB 2.0 MB/s eta 0:00:04
   ------------------------ --------------- 11.8/19.0 MB 2.0 MB/s eta 0:00:04
   ------------------------- -------------- 12.1/19.0 MB 2.0 MB/s eta 0:00:04
   -------------------------- ------------- 12.6/19.0 MB 2.0 MB/s eta 0:00:04
   --------------------------- ------------ 13.1/19.0 MB 2.0 MB/s eta 0:00:03
   ---------------------------- ----------- 13.4/19.0 MB 2.0 MB/s eta 0:00:03
   ----------------------------- ---------- 13.9/19.0 MB 2.0 MB/s eta 0:00:03
   ------------------------------ --------- 14.4/19.0 MB 2.0 MB/s eta 0:00:03
   ------------------------------- -------- 14.9/19.0 MB 2.0 MB/s eta 0:00:03
   -------------------------------- ------- 15.2/19.0 MB 2.0 MB/s eta 0:00:02
   --------------------------------- ------ 15.7/19.0 MB 2.0 MB/s eta 0:00:02
   ---------------------------------- ----- 16.3/19.0 MB 2.0 MB/s eta 0:00:02
   ---------------------------------- ----- 16.5/19.0 MB 2.0 MB/s eta 0:00:02
   ----------------------------------- ---- 17.0/19.0 MB 2.0 MB/s eta 0:00:01
   ------------------------------------ --- 17.6/19.0 MB 2.0 MB/s eta 0:00:01
   ------------------------------------- -- 17.8/19.0 MB 2.0 MB/s eta 0:00:01
   -------------------------------------- - 18.4/19.0 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  18.9/19.0 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 19.0/19.0 MB 2.0 MB/s eta 0:00:00
Downloading tenacity-9.0.0-py3-none-any.whl (28 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.24.0 tenacity-9.0.0

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [4]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"
data = requests.get(url).text

In [7]:
soup = BeautifulSoup(data, 'html.parser')

In [8]:
netflix_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

In [9]:
# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    # Finally we append the data of each row to the table
    netflix_data = pd.concat([netflix_data,pd.DataFrame({"Date":[date], "Open":[Open], "High":[high], "Low":[low], "Close":[close], "Adj Close":[adj_close], "Volume":[volume]})], ignore_index=True)

In [10]:
netflix_data.head()

           Date    Open    High     Low   Close       Volume Adj Close
0  Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1  May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2  Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3  Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4  Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85

In [11]:
read_html_pandas_data = pd.read_html(url)

In [14]:
read_html_pandas_data = pd.read_html(str(soup))

In [16]:
netflix_dataframe = read_html_pandas_data[0]

netflix_dataframe.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300

In [51]:
url2 = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html"
html_data = requests.get(url).text

In [52]:
soup = BeautifulSoup(html_data, 'html.parser')

In [53]:
element = soup.find('a', title=True)

In [54]:
element['title']

'Mail'

In [55]:
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    amazon_data = pd.concat([amazon_data, pd.DataFrame({"Date":[date], "Open":[Open], "High":[high], "Low":[low], "Close":[close], "Adj Close":[adj_close], "Volume":[volume]})], ignore_index=True)

In [56]:
amazon_data.head()

           Date    Open    High     Low   Close       Volume Adj Close
0  Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1  May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2  Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3  Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4  Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85

In [57]:
amazon_data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [58]:
amazon_data.tail()

            Date    Open    High     Low   Close       Volume Adj Close
65  Jan 01, 2016  109.00  122.18   90.11   91.84  488,193,200     91.84
66  Dec 01, 2015  124.47  133.27  113.85  114.38  319,939,200    114.38
67  Nov 01, 2015  109.20  126.60  101.86  123.33  320,321,800    123.33
68  Oct 01, 2015  102.91  115.83   96.26  108.38  446,204,400    108.38
69  Sep 01, 2015  109.35  111.24   93.55  103.26  497,401,200    103.26

In [59]:
amazon_data.tail(1)

            Date    Open    High    Low   Close       Volume Adj Close
69  Sep 01, 2015  109.35  111.24  93.55  103.26  497,401,200    103.26

In [60]:
last_row_open = amazon_data.tail(1)

In [61]:
last_row_open ['Open']

69    109.35
Name: Open, dtype: object